@using System.Security.Claims;
@model Photo
@{
    Photo photo = Model;
}

<div class="card bg-white bg-opacity-25 text-white border-dark mb-4 col-sm-12" style="width: 18rem;">
    <img src="@photo.Src" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@photo.Title</h5>
        <p class="card-text">@photo.Description</p>
    </div>
    <div class="card-body">
        @if(photo.Tags.Count > 0)
        {
            @foreach(var tag in photo.Tags)
            {
                <a href="#" class="text-white">#@tag.Name</a>
                <span> </span>
            }
        }
    </div>
    <div class="card-body">
        <a href="@Url.Action("Details", new{Id = photo.Id})" class="btn btn-primary">Dettagli</a>
        @if (photo.UserId == User.FindFirst(ClaimTypes.NameIdentifier).Value)
        {
            <a href="@Url.Action("Update", new{Id = photo.Id})" class="btn btn-success">Modifica</a>
            <form asp-controller="Admin" asp-action="Delete" asp-route-id="@photo.Id" method="post" class="btn btn-danger mt-2">
                @Html.AntiForgeryToken()
                <button type="submit" class="border-0 bg-transparent m-0 p-0">Elimina</button>
            </form>
            if (photo.Moderate)
            {
                <p class="text-danger fw-bold">Contenuto moderato dall'amministratore'</p>
            }
        }
        else
        {
            if(photo.Moderate){
                <a href="@Url.Action("Moderate", new{Id = photo.Id})" class="btn btn-success">Unban</a>
            }
            else
            {
                <a href="@Url.Action("Moderate", new{Id = photo.Id})" class="btn btn-danger">Ban</a>
            }

        }

    </div>
</div>